.nav-link, .card-link{
    color: black;
}

.nav-link:hover, .card-link:hover, .logo-link:hover {
    color: darkolivegreen;
    font-weight: bolder;
    text-decoration: none;
}

#logo {
   max-width: 80px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.logo-link {
    color: darkolivegreen;
    font-weight: bolder;
    font-size: xx-large;
}

.selected {
    color: darkolivegreen;
    font-weight: bolder;
    text-decoration: none;
}

.lightbox-img-sm {
    max-width: 100%;
}

#chat-message-box {
    min-height: 300px;
}
